<!doctype html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha256-e22BQKCF7bb/h/4MFJ1a4lTRR2OuAe8Hxa/3tgU5Taw="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/stylesheet.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" integrity="sha256-uWtSXRErwH9kdJTIr1swfHFJn/d/WQ6s72gELOHXQGM="
        crossorigin="anonymous"></script>
    <title>Kpop News</title>
</head>

<body>
    <ul class="side-nav" id="side-nav-menu">
        <li>
            <a class="scrape-articles">Scrape New Articles</a>
        </li>
        <li>
            <a href="/saved" class="saved-articles">Saved Articles</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a class="brand-logo" href="#">Kpop News</a>
                    <a class="button-collapse left" href="#" data-activates="side-nav-menu">
                        <span class="material-icons">menu</span>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="scrape-articles">Scrape New Articles</a>
                        </li>
                        <li>
                            <a href="/saved" class="saved-articles">Saved Articles</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {{{body}}}
    <script src="/assets/js/app.js"></script>
</body>

</html>